h1, h2, h3, a, li {
	font-family: 'Abel', sans-serif;
}

p {
	font-family: 'Armata', sans-serif;
	font-size: 8pt;
}

.active {
	background-color: 
}

.navbar {
	height: 80px;
}

.navbar-brand {
	padding-top: 30px;
	font-size: 25pt;
}

.navbar ul {
	float: right;
	padding-top: 16px;
	list-style: none;
	list-style-type: none;
}

.navbar li {
	font-size: 12pt;
	color: #5E5E5E;
	list-style-type: none;
}

.nav a {
	font-size: 11pt;
}

#wrapper {
	padding-top: 40px;
}

.gallery {
	padding: 15px 15px;
}

.gallery img {
	width: 100%;
}

.gallery p {
	margin: 5px 0px;
}

.slick-prev:before, .slick-next:before { 
    color:black !important;
}

.work-slider {
	padding: 15px 15px;
	padding-bottom: 0px !important;
}


.work-slider-slide img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bottom {
	padding-bottom: 15px;
}

img.grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.fixed-width {
	margin: 0 auto;
	max-width: 900px;
}

button {
	margin-top: 23px !important;
}
