h1, h2, h3, a, li {
	font-family: 'Abel', sans-serif;
}

p {
	font-family: 'Armata', sans-serif;
	font-size: 10pt;
}

.navbar {
	height: 80px;
}

.navbar-brand {
	padding-top: 30px;
	font-size: 30pt;
}

.navbar ul {
	float: right;
	padding-top: 4px;
	padding-left: 80px;
}

.navbar li {
	font-size: 18pt;
	color: #5E5E5E;
}

.nav a {
	font-size: 13pt;
}

#wrapper {
	padding-top: 40px;
}

.gallery {
	padding: 10px 10px;
}

.gallery img {
	width: 100%;
}

.gallery p {
	margin: 5px 0px;
}